<!DOCTYPE html>
<html>

<head>
    <title>Brain Tumor AI System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="navbar">
        <h2>🧠 AI Tumor Detection</h2>
        <div>
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/how">How</a>
            <a href="/future">Future</a>
        </div>
    </div>

    <div class="hero">

        <h1 class="hero-title">Brain Tumor Detection System</h1>

        <p class="hero-sub">
            AI-powered medical imaging system using deep learning
        </p>

        <a href="/detect" class="hero-btn">🚀 Start Detection</a>

    </div>
    <footer class="footer">
        <p>© 2026 AI Tumor Detection System</p>
    </footer>
</body>

</html>